OLLAMA_BASE_URL=
LLM_MODEL= # Enter your preferred Ollama LLM model (e.g. qwen2.5-coder:1.5b) 
EMBEDDING_MODEL= #Enter the Ollama Embedding model, same as the one used in the vector database (e.g. qllama/bge-m3:q8_0)
CHROMA_COLLECTION_NAME=
CHROMA_HOST= # IPv4 address of the device where ChromaDB is hosted on.
CHROMA_PORT=
TOP_K_RESULTS=